* {
    -fx-font-family: Candara;
}

#background {
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-radius: 0;
    -fx-background-color: #78bbe5;
    -fx-font-size: 16;
}

.button:hover {
    -fx-background-color: #a7caee;
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

#profileButton {
    -fx-background-radius: 150;
    -fx-background-image: url("../image/default_profile.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
}

#postGraphic {
    -fx-border-color: lightblue;
    -fx-border-radius: 5;
    -fx-font-size: 15;
}

#likesIcon {

}

